.post {
    width: 100vw;
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.postBox {
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #FFAAA6;
}

.postTitle {
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin: 0;
    font-size: 3rem;
}

.postImg {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    height: 20rem;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    aspect-ratio: auto 6/9;
    border-radius: 0.5rem;
}

.postCaption {
    margin-top: 1.5rem;
    font-weight: 300;
    max-width: 325px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:585px) {
    .worksImgs {
        height: 40vw;
    }
    
}