* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background: #a6d5d9;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

.logo {
    width: 100px;
    height: 100px;
}